body {
  margin: 0%;
  background-color: #000000;
  color: white;
}

/* Universal loading and error messages */
.loading {
  font-size: 1.5em;
  color: #cbcbcb;
  text-align: center;
  padding: 20px;
}

.error {
  font-size: 1.5em;
  color: red;
  text-align: center;
  padding: 20px;
}

/* NavBar */
.navbar-container {
  position: sticky;
  display: grid;
  top: 0px;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgb(12, 12, 12);
  padding: 5px;
  text-align: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom: 2px solid rgb(183, 9, 183);
}

.homeButton {
  text-align: center;
  background-color: rgb(12, 12, 12);
  color: white;
  padding-top: 3%;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

#logo {
  height: 33px;
  border-radius: 10px;
}

/* Account dropdown */
.AccountDropdown {
  position: relative;
  display: inline-block;
}

.dropButton {
  background-color: rgb(12, 12, 12);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 125px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content button {
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  padding: 2px;
  width: 100%;
}

.dropdown-content button:hover {
  background-color: #5d5d5d;
}

.AccountDropdown:hover .dropdown-content {
  display: block;
}

/* Search */
#search {
  padding-top: 2%;
}

.form {
  background-color: rgb(66, 66, 66);
  color: rgb(254, 254, 254);
  border-radius: 6px;
  border: 2px rgb(25, 114, 9);
  margin: 0%;
}

.searchButton {
  height: 20px;
  width: 20px;
  display: block;
  padding-left: 6%;
}

.SButton {
  background: none;
  border: none;
  padding: 0;
}

.SearchResultButton {
  background-color: #000000;
  border: none;
  border-bottom: solid rgb(183, 9, 183);
  border-radius: 20px;
  color: white;
  padding: 20px;
  margin: 10px;
  cursor: pointer;
}

/* Carousel */
.carousel-container {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.carousel-container > .item-01 {
  height: 70vh;
}

.carousel-img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.carousel-container > .item-02 {
  width: 50vh;
}

.carousel-button {
  margin: 1%;
  width: 100px;
  padding: 10px;
  border: none;
  border-bottom: solid purple;
  border-radius: 20px;
  background-color: #000000;
  color: white;
  cursor: pointer;
}

/* Genres buttons */
.Home-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.button {
  flex: 1 0 auto;
  background-color: #000000;
  color: white;
  border: solid rgb(90, 155, 212);
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 20px;
}

.sort-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.sort-button {
  flex: 1 0 auto;
  background-color: #000000;
  color: white;
  border: solid rgb(116, 212, 90);
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 15px;
}

/* Preview */
.preview-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.preview-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 30%;
  margin: 20px;
}

.preview-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.preview-button {
  width: 100%;
  padding: 5px;
  border: solid;
  border-radius: 20px;
  border-color: rgb(87, 87, 87);
  background-color: #000000;
  color: aqua;
  cursor: pointer;
}

/* show */
.show-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.show-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.show-title {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
}

.show-description {
  font-size: 1.2em;
  text-align: justify;
  margin-bottom: 20px;
}

.season-container {
  width: 100%;
}

.showButton {
  background-color: #000000;
  border: none;
  border-bottom: solid rgb(183, 9, 183);
  border-radius: 20px;
  color: white;
  padding: 20px;
  margin: 4px;
  cursor: pointer;
  margin-left: -80%;
}

/* Season */
.season-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.season-select {
  background-color: #000000;
  color: white;
  border-radius: 7px;
  padding: 6px;
}

.season-episodesAmount {
  border: solid purple;
  border-radius: 20px;
  background-color: purple;
  padding: 6px;
}

.season-image {
  max-width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
  margin: 10px;
}

/* Episode */
.episode-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.episode-card {
  background-color: #2b2b2b;
  color: white;
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
  width: 90%;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
}

.episode-title {
  font-size: 1.5em;
  color: #ffffff;
}

.episode-description {
  color: #ffffff;
}

.episode-number {
  font-size: 1em;
  color: #fefcfc;
}

.episode-file {
  font-size: 1em;
  color: #ffffff;
}

.play-button {
  background-color: #2b2b2b;
  padding: 5px;
  color: rgb(186, 251, 8);
  border: none;
  cursor: pointer;
}

/* Audio player */
.audio-player-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(5, 6, 53);
  color: #333;
  text-align: center;
  padding: 20px 0;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.audio-player {
  display: inline-block;
}

.audio-player audio {
  width: 90%;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.episode-container {
  margin-bottom: 90px;
}

/* Login page */
/* body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
} */

.login-container {
  background-color: #000000;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container h2 {
  margin-bottom: 20px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.login-container input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}
.login-container input[type="submit"]:hover {
  background-color: #0056b3;
}
